# Prerequisites
*.d

# don't commit REF code
BLDC_Motor_Driver-REF.spin2
BLDC_Motor_Driver_ChipNew.spin2
demo_single_motor (DESKTOP-QL1K6HH's conflicted copy 2022-02-21).spin2
isp_bldc_motor-OLD.spin2
isp_bldc_motor-REF.spin2
angleTest.spin2


# VSCode objects to ignore
.history

# Mac objects to ignore
.DS_Store

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/chip_recipr_ctr.spin2
src/test_bldc_id_recipr.spin2
